@{
    ViewBag.Title = "Startpagina";
}

<main class="page landing-page">
    <section class="clean-block clean-hero" style="background-image: url(../../assets/img/elderly.png);color: rgba(255,255,255,0.8);">
        <div class="text">
            <h2 class="display-1 text-secondary">Zorgcirkel</h2>
            <p class="text-secondary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p><a class="btn btn-outline-secondary btn-lg" href="/Account/Index">Registreer</a>
        </div>
    </section>
</main>